<h1>POSTTEST 4 Praktikum Kecerdasan Buatan<h1>

<h3>Nama : Sarah Syifani<h3>
<h3>NIM  : 2109106131<h3>
<h3>Kelas: Informatika C2 2021<h3>

Import library

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import numpy as np
from sklearn.impute import SimpleImputer

Membaca Dataset

In [2]:
df = pd.read_csv("wines_SPA.csv")
df

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...
7495,Contino,Reserva,2016,4.2,392,Espana,Rioja,19.98,Rioja Red,4.0,3.0
7496,Conreria d'Scala Dei,Les Brugueres,2018,4.2,390,Espana,Priorato,16.76,Priorat Red,4.0,3.0
7497,Mustiguillo,Finca Terrerazo,2017,4.2,390,Espana,El Terrerazo,24.45,Red,4.0,3.0
7498,Matarromera,Gran Reserva,2011,4.2,389,Espana,Ribera del Duero,64.50,Ribera Del Duero Red,5.0,3.0
7499,Sei Solo,Preludio,2016,4.2,388,Espana,Ribera del Duero,31.63,Ribera Del Duero Red,5.0,3.0

Membagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [5]:
x = df.iloc[:, :-1] # feature
y = df.iloc[:, -1] # target
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, train_size=0.7)

Print jumlah row dan kolom dari x train, x test, y train, y test

In [6]:
print('x train => ', x_train.shape)
print('x test  => ', x_test.shape)
print('y train => ', y_train.shape)
print('y test  => ', y_test.shape)

x train =>  (5250, 10)
x test  =>  (2250, 10)
y train =>  (5250,)
y test  =>  (2250,)

Menampilkan isi dari X train

In [7]:
x_train

,winery,wine,year,rating,num_reviews,country,region,price,type,body
5311,Ramon do Casar,Treixadura,2020,4.2,407,Espana,Ribeiro,11.95,NaN,NaN
5392,Artadi,Valdegines,2016,4.2,398,Espana,Vino de Espana,48.96,Tempranillo,4.0
5854,Imperial,Rioja Reserva,2004,4.2,417,Espana,Rioja,45.00,Rioja Red,NaN
843,Vall Llach,Idus,2018,4.4,141,Espana,Priorato,35.50,Priorat Red,4.0
6019,Contino,Reserva,2016,4.2,392,Espana,Rioja,19.98,Rioja Red,4.0
...,...,...,...,...,...,...,...,...,...,...
4649,Vinedos de Paganos,El Puntido,2005,4.2,384,Espana,Rioja,73.00,Rioja Red,4.0
4876,Enrique Mendoza,Santa Rosa,2017,4.2,420,Espana,Alicante,18.90,Red,4.0
5056,Mar de Frades,Rias Baixas Albarino Finca Valinas,2015,4.2,414,Espana,Rias Baixas,16.78,Albarino,3.0
7148,Matarromera,Gran Reserva,2011,4.2,389,Espana,Ribera del Duero,64.50,Ribera Del Duero Red,5.0
53,Vega Sicilia,Unico,2007,4.7,2935,Espana,Ribera del Duero,445.28,Ribera Del Duero Red,5.0

Menampilkan isi dari y train

In [8]:
y_train

5311    NaN
5392    2.0
5854    NaN
843     3.0
6019    3.0
       ...
4649    3.0
4876    3.0
5056    3.0
7148    3.0
53      3.0
Name: acidity, Length: 5250, dtype: float64

Menampilkan isi dari X test

In [9]:
x_test

,winery,wine,year,rating,num_reviews,country,region,price,type,body
767,Martinet,Clos Martinet,2015,4.4,296,Espana,Priorato,65.40,Priorat Red,4.0
5128,Sierra Cantabria,Coleccion Privada,2012,4.2,420,Espana,Rioja,28.30,Rioja Red,4.0
279,Contino,Vina del Olivo,2001,4.6,60,Espana,Rioja,81.00,Rioja Red,4.0
6429,Sierra Cantabria,Coleccion Privada,2012,4.2,420,Espana,Rioja,28.30,Rioja Red,4.0
3073,Sei Solo,Preludio,2016,4.2,388,Espana,Ribera del Duero,31.63,Ribera Del Duero Red,5.0
...,...,...,...,...,...,...,...,...,...,...
4255,Losada,Altos de Losada,2018,4.2,415,Espana,Bierzo,17.90,Mencia,3.0
2481,Mar de Frades,Rias Baixas Albarino Finca Valinas,2015,4.2,414,Espana,Rias Baixas,16.78,Albarino,3.0
2225,La Vicalanda,Reserva,2015,4.2,420,Espana,Rioja,17.50,Rioja Red,4.0
7,Vega Sicilia,Unico,1995,4.8,926,Espana,Ribera del Duero,810.89,Ribera Del Duero Red,5.0
668,Matsu,El Viejo,2018,4.4,1438,Espana,Toro,32.01,Toro Red,5.0

Menampilkan isi dari y test

In [10]:
y_test

767     3.0
5128    3.0
279     3.0
6429    3.0
3073    3.0
       ...
4255    3.0
2481    3.0
2225    3.0
7       3.0
668     3.0
Name: acidity, Length: 2250, dtype: float64

Melakukan normalisasi pada salah satu atribut menggunakan min max scaler (membuat copy data terlebih dahulu)

In [11]:
dataset =  df.copy()
Scaler = MinMaxScaler()
Normalized_Data = Scaler.fit_transform(dataset[['num_reviews']])
dataset['num_reviews'] = Normalized_Data

In [12]:
print("Data sebelum dinormalisasi: ")
print(df['num_reviews'].describe())
print('\n')
print("Data setelah dinormalisasi: ")
print(dataset['num_reviews'].describe())

Data sebelum dinormalisasi:
count     7500.000000
mean       451.109067
std        723.001856
min         25.000000
25%        389.000000
50%        404.000000
75%        415.000000
max      32624.000000
Name: num_reviews, dtype: float64


Data setelah dinormalisasi:
count    7500.000000
mean        0.013071
std         0.022179
min         0.000000
25%         0.011166
50%         0.011626
75%         0.011964
max         1.000000
Name: num_reviews, dtype: float64

Melakukan standarisasi pada dataset (membuat copy data terlebih dahulu)

In [13]:
dataset1 =  df.copy()
Scaler = StandardScaler()
Scaled_Data = Scaler.fit_transform(dataset[['num_reviews']])
dataset['num_reviews'] = Scaled_Data

Menampilkan hasil dari standar deviasi sebelum di standarisasi, dan setelah di standarisasi

In [14]:
print("Data sebelum dinormalisasi : ")
print("Nilai Standar deviasi >> ", np.std(df['num_reviews']))
print('\n')
print("Data setelah distandarisasi : ")
print("Nilai Standar deviasi >> ", np.std(dataset1['num_reviews']))

Data sebelum dinormalisasi :
Nilai Standar deviasi >>  722.9536544651131


Data setelah distandarisasi :
Nilai Standar deviasi >>  722.9536544651131

Melakukan data cleaning pada data pada nilai null

In [15]:
print("Jumlah record yang punya nilai null : ")
record_null = df.isna().sum()
print(record_null)

Jumlah record yang punya nilai null :
winery            0
wine              0
year              2
rating            0
num_reviews       0
country           0
region            0
price             0
type            545
body           1169
acidity        1169
dtype: int64

year : integer
body : float
type : string

Mengatasi nilai null pada kolom year yang bertipe bilangan bulat (integer)

Metode Modus

In [26]:
dataset2 = df.copy()

print("Jumlah Nilai Null pada kolom year sebelum data cleaning >>", dataset2['year'].isna().sum())

dataset2['year'].fillna(dataset2['year'].mode()[0], inplace=True)

print("\nJumlah Nilai Null pada kolom year setelah data cleaning >>", dataset2['year'].isna().sum())

Jumlah Nilai Null pada kolom year sebelum data cleaning >> 2

Jumlah Nilai Null pada kolom year setelah data cleaning >> 0

Mengatasi nilai null pada kolom type yang bertipe data string

In [28]:
dataset2 = df.copy()

print("Jumlah Nilai Null pada kolom type sebelum data cleaning >>", dataset2['type'].isna().sum())

dataset2['type'].fillna(dataset2['type'].mode()[0], inplace=True)

print("\nJumlah Nilai Null pada kolom type setelah data cleaning >>", dataset2['type'].isna().sum())

Jumlah Nilai Null pada kolom type sebelum data cleaning >> 545

Jumlah Nilai Null pada kolom type setelah data cleaning >> 0

Melakukan data cleaning pada nilai duplikat

In [29]:
dataset2.duplicated().sum()

5452

In [30]:
dataset2.drop_duplicates(inplace=True)
dataset2.duplicated().sum()

0

Mengganti tipe data pada slah satu attribute angka

Menampilkan seluruh tipe data kolom dari dataset

In [31]:
dataset2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2048 entries, 0 to 6100
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   winery       2048 non-null   object
 1   wine         2048 non-null   object
 2   year         2046 non-null   object
 3   rating       2048 non-null   float64
 4   num_reviews  2048 non-null   int64
 5   country      2048 non-null   object
 6   region       2048 non-null   object
 7   price        2048 non-null   float64
 8   type         2048 non-null   object
 9   body         1777 non-null   float64
 10  acidity      1777 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 192.0+ KB

merubah tipe data kolom body dari float 64 => string menggunakan metode astype

In [40]:
dataset2['body'] = dataset2['body'].astype('string')
print("Tipe data kolom body setelah diubah => ", dataset2['body'].dtypes )

Tipe data kolom body setelah diubah =>  string

In [41]:
dataset2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2048 entries, 0 to 6100
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   winery       2048 non-null   object
 1   wine         2048 non-null   object
 2   year         2046 non-null   object
 3   rating       2048 non-null   float64
 4   num_reviews  2048 non-null   int64
 5   country      2048 non-null   object
 6   region       2048 non-null   object
 7   price        2048 non-null   float64
 8   type         2048 non-null   object
 9   body         1777 non-null   string
 10  acidity      1777 non-null   float64
dtypes: float64(3), int64(1), object(6), string(1)
memory usage: 192.0+ KB

Melakukan one hot encoding

Encoding data kolom type, dan merubah tipe datanya menjadi 1nt64 supaya bisa menghasilkan angka, kemudian menggunakan drop untuk melihat keseluruhan isi dari kolom yang nilainya lebih dari 2

In [38]:
encoding = pd.get_dummies(df[['type']])
dataset3 = df.join(encoding.astype('int64'))

dataset3.drop('type', axis=1, inplace=True)

In [39]:
dataset3

,winery,wine,year,rating,num_reviews,country,region,price,body,acidity,...,type_Ribera Del Duero Red,type_Rioja Red,type_Rioja White,type_Sauvignon Blanc,type_Sherry,type_Sparkling,type_Syrah,type_Tempranillo,type_Toro Red,type_Verdejo
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,5.0,3.0,...,0,0,0,0,0,0,0,0,1,0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,4.0,2.0,...,0,0,0,0,0,0,0,1,0,0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,5.0,3.0,...,1,0,0,0,0,0,0,0,0,0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,5.0,3.0,...,1,0,0,0,0,0,0,0,0,0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,5.0,3.0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,Contino,Reserva,2016,4.2,392,Espana,Rioja,19.98,4.0,3.0,...,0,1,0,0,0,0,0,0,0,0
7496,Conreria d'Scala Dei,Les Brugueres,2018,4.2,390,Espana,Priorato,16.76,4.0,3.0,...,0,0,0,0,0,0,0,0,0,0
7497,Mustiguillo,Finca Terrerazo,2017,4.2,390,Espana,El Terrerazo,24.45,4.0,3.0,...,0,0,0,0,0,0,0,0,0,0
7498,Matarromera,Gran Reserva,2011,4.2,389,Espana,Ribera del Duero,64.50,5.0,3.0,...,1,0,0,0,0,0,0,0,0,0
7499,Sei Solo,Preludio,2016,4.2,388,Espana,Ribera del Duero,31.63,5.0,3.0,...,1,0,0,0,0,0,0,0,0,0