In [23]:
pip install pandas

Requirement already satisfied: pandas in c:\users\acer\c2-21\lib\site-packages (1.4.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\acer\c2-21\lib\site-packages (from pandas) (1.21.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\c2-21\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\acer\c2-21\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\acer\c2-21\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 23.2.1
[notice] To update, run: C:\Users\ACER\c2-21\Scripts\python.exe -m pip install --upgrade pip

In [24]:
import pandas as pd

In [25]:
pd.__version__

'1.4.3'

IMPORT DATASET
Sebelumnya karena dataset saya error dan tidak bisa di import, dengan keteranagan : csv is not utf-8
encoded, jadi saya menggunakan sintax berikut :

In [26]:
df = pd.read_csv("McDonald_s_Reviews1.csv", sep=";")

MENAMPILKAN ISI DATASET

In [27]:
df

,reviewer_id,store_name,category,store_address,latitude,longitude,rating_count,review_time,review,rating,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",304.607.176,-977.928.744,"1,24",3 months ago,Why does it look like someone spit on my food?,NaN,NaN,NaN,NaN
1,2,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",304.607.176,-977.928.744,"1,24",5 days ago,It'd McDonalds. It is what it is as far as the...,4 stars,NaN,NaN,NaN
2,3,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",304.607.176,-977.928.744,"1,24",5 days ago,Made a mobile order got to the speaker and che...,NaN,NaN,NaN,NaN
3,4,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",304.607.176,-977.928.744,"1,24",a month ago,My mc. Crispy chicken sandwich was ï¿½ï¿½ï¿½ï¿...,5 stars,NaN,NaN,NaN
4,5,McDonald's,Fast food restaurant,"13749 US-183 Hwy, Austin, TX 78750, United States",304.607.176,-977.928.744,"1,24",2 months ago,"I repeat my order 3 times in the drive thru, a...",1 star,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37113,33392,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",258.099.996,-801.890.981,"2,81",4 years ago,They treated me very badly.,1 star,NaN,NaN,NaN
37114,33393,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",258.099.996,-801.890.981,"2,81",a year ago,The service is very good,5 stars,NaN,NaN,NaN
37115,33394,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",258.099.996,-801.890.981,"2,81",a year ago,To remove hunger is enough,4 stars,NaN,NaN,NaN
37116,33395,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",258.099.996,-801.890.981,"2,81",5 years ago,"It's good, but lately it has become very expen...",5 stars,NaN,NaN,NaN
37117,33396,McDonald's,Fast food restaurant,"3501 Biscayne Blvd, Miami, FL 33137, United St...",258.099.996,-801.890.981,"2,81",2 years ago,they took good care of me,5 stars,NaN,NaN,NaN

1. Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [28]:
df.describe()

,reviewer_id,store_name,category,store_address,latitude,longitude,rating_count,review_time,review,rating,Unnamed: 10,Unnamed: 11,Unnamed: 12
count,36151,35297,34033,33664,32877,32819,33450,33428,33412,31830,7,5,2
unique,35564,699,320,194,126,99,88,59,22266,12,4,2,1
top,#NAME?,McDonald's,Fast food restaurant,"9814 International Dr, Orlando, FL 32819, Unit...",284.238.144,-814.612.421,"2,81",4 years ago,Excellent,5 stars,this day (and what I've garnered from tourist...,2 stars,but of course that would have been a form of ...
freq,18,33324,33395,1890,1890,1890,1140,6740,2148,10003,2,3,2

2. Tampilkan 10 record pertama dari dataset dengan attribute bertipe angka.

In [29]:
df.select_dtypes(include=['number']).head(10)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

3. Tampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka. Masukkan informasi tersebut dalam dictionary dengan key sesuai nama

In [30]:
jumlahrecord = len(df)
jumlahattribute = len(df.columns)
daftarattribute = list(df.columns)
attribute_angka = len( df.select_dtypes(include=['number']).columns)
dictionary = {
    'Jumlah record' : jumlahrecord,
    'Jumlah attribute' : jumlahattribute,
    'Daftar attribute' : daftarattribute,
    'Jumlah attribute dengan tipe angka' : attribute_angka
}
for key, value in dictionary.items():
    print(f'{key} : {value}')

Jumlah record : 37118
Jumlah attribute : 13
Daftar attribute : ['reviewer_id', 'store_name', 'category', 'store_address', 'latitude ', 'longitude', 'rating_count', 'review_time', 'review', 'rating', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12']
Jumlah attribute dengan tipe angka : 0

4. Tampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice.

In [31]:
df.iloc[131:,3:]

,store_address,latitude,longitude,rating_count,review_time,review,rating,Unnamed: 10,Unnamed: 11,Unnamed: 12
131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,we're working to upgrade all our locations bu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,1 star,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
37113,"3501 Biscayne Blvd, Miami, FL 33137, United St...",258.099.996,-801.890.981,"2,81",4 years ago,They treated me very badly.,1 star,NaN,NaN,NaN
37114,"3501 Biscayne Blvd, Miami, FL 33137, United St...",258.099.996,-801.890.981,"2,81",a year ago,The service is very good,5 stars,NaN,NaN,NaN
37115,"3501 Biscayne Blvd, Miami, FL 33137, United St...",258.099.996,-801.890.981,"2,81",a year ago,To remove hunger is enough,4 stars,NaN,NaN,NaN
37116,"3501 Biscayne Blvd, Miami, FL 33137, United St...",258.099.996,-801.890.981,"2,81",5 years ago,"It's good, but lately it has become very expen...",5 stars,NaN,NaN,NaN
37117,"3501 Biscayne Blvd, Miami, FL 33137, United St...",258.099.996,-801.890.981,"2,81",2 years ago,they took good care of me,5 stars,NaN,NaN,NaN

5. Tampilkan jumlah nilai dari semua attribute yang bernilai object.

In [33]:
tipeobjek = df.select_dtypes(include=['object']).columns.tolist()
for i in tipeobjek :
    print(df[i].value_counts())

#NAME?     18
So         11
.          10
Also        7
However     6
           ..
10981       1
10980       1
10979       1
10978       1
33396       1
Name: reviewer_id, Length: 35564, dtype: int64
McDonald's                                                                                                                                                                                                                                                                 33324
1 star                                                                                                                                                                                                                                                                       477
5 stars                                                                                                                                                                                                                                                                      184
4 stars                                                                                                                                                                                                                                                                      137
2 stars                                                                                                                                                                                                                                                                      134
                                                                                                                                                                                                                                                                           ...
 the ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½table tent.ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½  The counter guy looked at me like I was speakt me the order in less than 10 minutes        1
 you get one out of order and the next few also get the wrong drink.  As for me                                                                                                                                                                                                1
 my kids and grandkids love you. But this location has a lot of work to do to meet McDonaldï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï"                                                                                                                                                             1
 restroom has no water or soap to wash hands                                                                                                                                                                                                                                   1
 I saw how he insulted a client and on top of that he humiliates him                                                                                                                                                                                                           1
Name: store_name, Length: 699, dtype: int64
Fast food restaurant                                                                                                                                                                                          33395
1 star                                                                                                                                                                                                          117
5 stars                                                                                                                                                                                                          37
4 stars                                                                                                                                                                                                          33
2 stars                                                                                                                                                                                                          28
                                                                                                                                                                                                              ...
 except if you use the handicap toilet which makes me wonder how often or ever the employees wash their hands before return back to work. My husband got quite sick the following day because of the food.        1
 I also got the wrong drink.                                                                                                                                                                                      1
 about half the time I wasted on the first try.                                                                                                                                                                   1
 very bad situation"                                                                                                                                                                                              1
 it's bad"                                                                                                                                                                                                        1
Name: category, Length: 320, dtype: int64
9814 International Dr, Orlando, FL 32819, United States                   1890
5725 W Irlo Bronson Memorial Hwy, Kissimmee, FL 34746, United States      1720
10901 Riverside Dr, North Hollywood, CA 91602, United States              1710
1415 E State Rd, Fern Park, FL 32730, United States                       1700
632 S R L Thornton Freeway Service Rd, Dallas, TX 75203, United States    1650
                                                                          ...
 omelettes and all day breakfasts!                                           1
 not a burger                                                                1
 even though I knew it wasn't his fault or problem                           1
 the food took over 30 minutes                                               1
 and I got a Hard Ice Cream in a Waffle Cone.                                1
Name: store_address, Length: 194, dtype: int64
284.238.144                                                                    1890
283.335.081                                                                    1720
341.525.074                                                                    1710
286.553.497                                                                    1700
327.445.961                                                                    1650
                                                                               ...
 miserable demeanors and a lack of basic customer service skills (thank you       1
 greets the human behind the counter with respect and a smile                     1
 if memory serves)                                                                1
 I exclaimed aloud                                                                1
 and the pasta                                                                    1
Name: latitude , Length: 126, dtype: int64
-814.612.421                                                                                                                                              1890
-815.137.384                                                                                                                                              1720
-1.183.679.036                                                                                                                                            1710
-813.426.916                                                                                                                                              1700
-968.122.859                                                                                                                                              1650
                                                                                                                                                          ...
 to than receive this nasty                                                                                                                                  1
 ""when my journey meets it's end                                                                                                                            1
 we both laughed and she said ok.                                                                                                                            1
 I saw you yesterday and I know I gave you a free mocha. To me...that is calling me a liar. Especially when you repeat it after I tell you                   1
 which was helpful since they had different language selections to match the language of those ordering.  Some of my family got hand scooped ice cream       1
Name: longitude, Length: 99, dtype: int64
2,81                                                                                         1140
2,193                                                                                        1140
2,052                                                                                        1140
1,67                                                                                         1140
2,658                                                                                        1140
                                                                                             ...
 like everyone else in America. This is place is bad for business. DONýýýT bother."             1
4 stars                                                                                         1
 I need to shout out how friendly and consistent everyone at the drive-thru line is here.       1
I didn't come yesterday                                                                         1
 they make excellent coffee here."                                                              1
Name: rating_count, Length: 88, dtype: int64
4 years ago                                                                                                                                                          6740
3 years ago                                                                                                                                                          5522
a year ago                                                                                                                                                           4808
5 years ago                                                                                                                                                          4306
2 years ago                                                                                                                                                          3892
6 years ago                                                                                                                                                          1679
2 months ago                                                                                                                                                          625
10 months ago                                                                                                                                                         503
8 months ago                                                                                                                                                          498
a month ago                                                                                                                                                           493
3 months ago                                                                                                                                                          492
7 months ago                                                                                                                                                          472
5 months ago                                                                                                                                                          458
11 months ago                                                                                                                                                         457
6 months ago                                                                                                                                                          456
9 months ago                                                                                                                                                          444
4 months ago                                                                                                                                                          393
7 years ago                                                                                                                                                           387
2 weeks ago                                                                                                                                                           137
a week ago                                                                                                                                                            125
3 weeks ago                                                                                                                                                           122
8 years ago                                                                                                                                                            91
9 years ago                                                                                                                                                            52
4 weeks ago                                                                                                                                                            47
10 years ago                                                                                                                                                           38
2 days ago                                                                                                                                                             32
4 days ago                                                                                                                                                             26
5 days ago                                                                                                                                                             23
3 days ago                                                                                                                                                             22
a day ago                                                                                                                                                              17
6 days ago                                                                                                                                                             17
11 years ago                                                                                                                                                           10
1 star                                                                                                                                                                  6
12 years ago                                                                                                                                                            4
5 stars                                                                                                                                                                 3
 you sent a cookie that I didn't ask for in this order. What's that a consolation prize for losing the Big Mac."                                                        2
 there were cheeseburgers and the third burger wasnï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½t in the bag!!                      2
 who looked to be a manager                                                                                                                                             2
 normally when I come here                                                                                                                                              2
 but there have been a lot of times where the managers are rather lackluster                                                                                            2
 get a number that you take to your table                                                                                                                               2
21 hours ago                                                                                                                                                            2
 I talked to the manager about my order                                                                                                                                 1
 as nobody was working that section                                                                                                                                     1
2 stars                                                                                                                                                                 1
 a typical McDonald's burger and fries are a great choice if you're searching for a quick and delectable dinner."                                                       1
 and that I would rather inconvenience myself and go an additional mile and a half to Burger King than spend one dime at this McDï¿½ive change in their employees       1
22 hours ago                                                                                                                                                            1
 it is home."                                                                                                                                                           1
23 hours ago                                                                                                                                                            1
 sweet dough (yuk) and the hash brown soaked through the bag! I know McDonald's serves fast food                                                                        1
3 stars                                                                                                                                                                 1
 thank you for at least responding today.                                                                                                                               1
  I doordashed and yall messed that up. I also have dash receipts to show.                                                                                              1
20 hours ago                                                                                                                                                            1
 it only shows an empty Waffle Cone with no option of its contents.                                                                                                     1